@import '../../styles/scss/variables';

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;

    &__container {
      width: 100%;
      max-width: 500px;
      padding: 10px;
      text-align: center;
    
      h1 {
        color: $primary-color;
        text-transform: uppercase;
        letter-spacing: $letter-spacing;
        
        span { color: $secundary-color; } 
      }
    
      p {
        margin-top: 50px;
        color: $text-grey;
      }
    
      h4 {
        margin-top: 100px;
        color: #ffffff;
      }
    
      input {
        background-color: $input-color;
        border: 1px solid $text-grey;
        opacity: .5;
        margin: 0 auto 20px;
        width: 80%;
        padding: 25px;
      }
    
      input:focus, select:focus {
        border-color: $primary-color!important;
        background-color: $input-color;
        opacity: .5;
        outline: 0;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
      }
    
      .btn-default {
        background-color: $primary-color;
        color: #FFF;
        width: 80%;
        margin: 0 auto 20px;
        padding: 15px;
        transition: all 0.5s;
      }
     
      .btn-default:hover {
        background-color: #2d7945;
        color: #FFF;
      }
      .btn--purple { background-color: $secundary-color; }
      .btn--purple:hover { background-color: rgb(62, 50, 100); }
    
      .forgot__password {
        display: block;
        margin: 0 auto;
        margin-top: 20px;
        background-color: transparent;
        border-color: transparent;
        color: $text-grey;
      }
    }
  }
  
  