.content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;

    &__container {
      width: 100%;
      max-width: 500px;
      padding: 10px;
      text-align: center;
    
      h1 {
        color: #50ae6e;
      }
    
      p {
        margin-top: 50px;
        color: #757575;
      }
    
      h4 {
        margin-top: 100px;
        color: #ffffff;
      }
    
      input {
        background-color: #0b0a0d;
        border: 1px solid #757575;
        opacity: .5;
        margin: 0 auto 20px;
        width: 80%;
        padding: 25px;
      }
    
      input:focus, select:focus {
        border-color: #50ae6e!important;
        background-color: #0b0a0d;
        opacity: .5;
        outline: 0;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
      }
    
      button {
        background-color: #50ae6e;
        color: #FFF;
        width: 80%;
        margin: 0 auto 20px;
        padding: 15px;
        transition: all 0.5s;
      }
    
      button:hover {
        background-color: #2d7945;
        color: #FFF;
      }
    
      a {
        display: block;
        margin-top: 20px;
        color: #757575;
      }
    }
  }
  
  