//Colors
$primary-color: #50ae6e;
$secundary-color: #565068;
$text-grey: #757575;
$input-black: #0b0a0d;
$input-grey: #707070;
$white: #F1F1F1;

//Hover colors
$primary-color-hover: #2d7945;
$secundary-color-hover: #3e3264;

//spacings
$letter-spacing: .1em;
$letter-spacing-less: 0.05em;